[submodule "GloryQuest"]
	path = GloryQuest
	url = git@github.com:Erisa/GloryQuest.git
[submodule "GloryQuest2"]
	path = GloryQuest2
	url = git@github.com:Erisa/GloryQuest2.git
[submodule "evenfall"]
	path = evenfall
	url = https://github.com/Project-Evenfall/Website.git
